{#
/**
 * @file
 * Template for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="collapse" id="hubs_h5p_resources_filter">
  <div class="card p-3 mb-2">
    {{form}}
  </div>
</div>