// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {

}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  @include hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}


// Utilities
// -----------------------------------------------------------------------------
.gap-05 {
  gap: 0.5em;
}
.gap-10 {
  gap: 1em;
}
.gap-15 {
  gap: 1.5em;
}
.gap-20 {
  gap: 2em;
}
.gap-25 {
  gap: 2.5em;
}
.gap-30 {
  gap: 3em;
}