@include media-breakpoint-up(md) { 

  // .block--sitebranding .navbar-brand {
  //   justify-content: center;
  // }
  
}


/**
* Main Nav Colors
**/

.menu-color {

  display: flex;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-color: #5b2863;
    margin-right: 10px;
  }

  &.is-active {
    text-decoration: solid underline 4px #5b2863;
  }

  &.menu-color-blue {
    &::before {
      background-color: #5b2863;
    }
    &.is-active {
      text-decoration: solid underline 4px #5b2863;
    }
  }

  &.menu-color-green {
    &::before {
      background-color: #92a23a;
    }
    &.is-active {
      text-decoration: solid underline 4px #92a23a;
    }
  }

  &.menu-color-orange {
    &::before {
      background-color: #fab529;
    }
    &.is-active {
      text-decoration: solid underline 4px #fab529;
    }
  }

  &.menu-color-teal {
    &::before {
      background-color: #0bb4a0;
    }
    &.is-active {
      text-decoration: solid underline 4px #0bb4a0;
    }
  }

  &.menu-color-pink {
    &::before {
      background-color: #b91395;
    }
    &.is-active {
      text-decoration: solid underline 4px #b91395;
    }
  }

  &.menu-color-lightblue {
    &::before {
      background-color: #0678c4;
    }
    &.is-active {
      text-decoration: solid underline 4px #0678c4;
    }
  }

 

}


.navbar.sticky-top {
  z-index: 501;
}

body.toolbar-horizontal .navbar.sticky-top {
  top: 39px;
}

body.toolbar-horizontal.toolbar-tray-open .navbar.sticky-top {
  top: 78px;
}


.block--sitebranding {
  width: 13rem;
  max-width: 200px;
  margin-right: 1em;
}
.block--sitebranding img {
  width: 100%;
  max-width: 120px;
}

.block--mainnavigation .nav > li.nav-item {
  margin-right: 0.5em
}

.main___nav .nav > li.nav-item > .nav-link {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  color: #3E3740;
  font-size: 0.9rem;
  // border-bottom: 4px solid transparent;
}

.main___nav .nav > li.nav-item > .nav-link.is-active {
  color: $primary;
}

.navbar-expand-lg .navbar-nav {
  gap: 0.5em;
}

@include media-breakpoint-up(md) { 
  .main___nav .nav > li.nav-item > .nav-link.is-active { 
    // border-bottom: 4px solid $primary;
  }
}

.block--useraccountmenu {
  margin-right: 3rem;
}