.card-img-logo {
  position: relative
}

.card-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-logo > img {
  background-color: white;
}